<!DOCTYPE HTML>
<html >
  <head>
    <title>Existing User</title>
    <script  src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
  </head>
  <body >
  <div ng-controller="MainController" ng-app="myApp">
<font color="red"> <p data-th-text="${errorMessage}" />  </font>
   
      <table id="dataTable" border="1" >
        <thead>
          <tr>
            <td>SNo.</td>
            <td>User ID</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="user in users" >
            <td></td>
            <td>{{user.strUserId}} </td>
            <td>{{user.strFirstName}} </td>
            <td>{{user.strLastName}}</td>
            <td> <input type="button" value="Remove" ng-click="deleteUser(user.strUserId)"/></td>
            
          </tr>
        </tbody>
      </table>
     </div>


<script>
      var app = angular.module('myApp', []);
      app.controller('MainController', function($scope, $http) {
		
		$http.get("existing-User").then(function(response) 
		{
			$scope.users = response.data;
			console.log(response.data);
		});

      $scope.deleteUser = function(userId) {    
          
        if(confirm("Delete User "+userId+"????")) {
		$http.post('http://localhost:8000/deleteUser/'+userId, {}).then(function(response) {
					window.alert("User has been deleted")
					window.location = "existingUser.html";
 				});
 				
 				}
 
            }
            
      });
       
    </script>
  </body>
</html>