<!DOCTYPE HTML>
<html ng-app="myApp">
  <head>
    <title>Existing User</title>
    <script  src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
  </head>
  <body ng-controller="MainController">
<font color="red"> <p data-th-text="${errorMessage}" />  </font>
    <form method="post">
      <table id="dataTable" border="1" >
        <thead>
          <tr>
            <td>SNo.</td>
            <td>User ID</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <tr th:each="user, index: ${users}" >
            <td th:text="${index.count}"></td>
            <td th:text="${user.strUserId}" > </td>
            <td th:text="${user.strFirstName}" > </td>
            <td th:text="${user.strLastName}" >  </td>
            <td> <input type="button" value="Remove" th:attr="ng-click='deleteUser('+${index.count}+')'"/></td>
            
          </tr>
          
        </tbody>
        
    
        
        
      </table>
     
    </form>
    <script>
      var app = angular.module('myApp', []);
      app.controller('MainController', function($scope, $http) {

      $scope.deleteUser = function(count) {    

		var data = {
				strUserId : count
		};
          
              
              
		$http.post('http://localhost:8000/deleteUser/'+count, data).success(function(response) {
		
             		window.location = "existingUser.html";
 				});
 
            }
            
      });
       
    </script>
  </body>
</html>