<html>
<head>
<title>First Web Application</title>
</head>

<style>
.demoDiv {
	margin: auto;
	text-align: center;
}
</style>

<body>

<p data-th-text="${name}" />

	<div class="demoDiv">
		<br /> <br /> 
 <a href="/existingUser">Click here</a> to search for registered Users. 
	</div>
	
	
	<div class="demoDiv">
		<br /> <br /> 
 <a href="/existing-Order">Click here</a> to search for existing Order. 
	</div>
	
	
	<div class="demoDiv">
		<br /> <br /> 
 <a href="/createNewOrder">Click here</a> to Create a new Order. 
	</div>

</body>
</html>